numpy<2
pandas>=2.0
ipython
scipy<=1.11.4
matplotlib>3.7.4
beautifulsoup4
emoji
ipython
jupyter
seaborn
catboost
textblob
nltk
regex
scikit-learn>=0.24,<=1.5.2
xgboost>=0.82,<=1.7.6
vaderSentiment
imbalanced-learn>=0.10.1
shap>=0.36.0
lightgbm>=3.0.0
