ipython
jupyter
xgboost>=1.1.1
pandas
matplotlib
seaborn
scikit-learn>=0.23.1
catboost
shap
textblob
vaderSentiment
nltk
imbalanced-learn>=0.7
regex
beautifulsoup4
imbalanced_ensemble>=0.1.7
lightgbm>=3.0.0
shap>=0.36.0
emoji
xlrd
